div.footer ul li.ant-pagination-item-active {
  background-color: rgba(117, 134, 230, 0.5);
}

.ant-pagination {
  justify-content: center;
}


.paginate {
  text-align: center;
  margin: 15px 0px 15px 0px;
}
